
body {
    font-family: Arial, sans-serif;
    background-color: #FFCD9B;
}

/*@media only screen and (min-height: 1224px) {
    body {
        margin: 0 2in 0 2in;
        font-size: 80%; 
    }
}*/

.title {
    font-size: 50pt;
    text-align: center;
}

.margin {
    margin: 0 1% 0 1%;
}

nav {
    margin-bottom: 10px;
}

.nav-link {
    font-size: 20pt;
}

.navbar-text {
    font-size: 20pt;
}

.navbar-brand {
    font-size: 20pt;
}

i {
    color: darkslateblue;
}

a {
    color: darkslateblue;
    font-size: 18pt;
}



nav {
    background-color: indigo;
    color: white;
}

.flex-container {
    height: 500px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    border: 2px;
    margin: 1%;
    font-size: larger;
}

h1 {
    color: darkslateblue;
    font-weight: bold;
}

h4 {
    font-size: 20pt;
    color: indigo;
    font-weight: bold;
}

p {
    font-size: 18pt;
}

.box {
    line-height: 22pt;
    height: 53%;
    width: 31%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin: 1%;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    align-items: center;
    justify-items: center;
    text-align: center;
    background-color: white;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 200px;
    margin: 5%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

footer {
    text-align: center;
    color: dimgray;
    height: 50px;
    margin-top: 250px;
}
